<input type="hidden" name="vt-events-nonce" id="vt-events-nonce" value="{{ nonce }}" />
<h5>Date de début</h5>
<p>
    <input type="datetime-local"
        id="vt_events_startdate"
        name="vt_events_startdate"
        value="{{ (post.start | default(post.now)) | date('Y-m-d\\TH:i') }}"
    />
</p>

<h5>Date de fin</h5>
<p>
    <input
        type="datetime-local"
        id="vt_events_enddate"
        name="vt_events_enddate"
        value="{{ (post.end | default(post.now)) | date('Y-m-d\\TH:i') }}"
    />
</p>

<h5>Lieu</h5>
<p><input name="vt_events_location"value="{{ post.location }}" /></p>

<hr>

<h5>Visibilité</h5>
<p><input type="checkbox" name="vt_events_display_home" id="vt_events_display_home" {% if post.home %} checked="checked" {% endif %} ><label for="vt_events_display_home">Afficher sur la page d'accueil</label></p>

<hr>
<h4>Annuler l'événement</h4>
<p><input type="checkbox" name="vt_events_is_cancelled" id="vt_events_is_cancelled" {% if post.cancelled %} checked="checked" {% endif %} ><label for="vt_events_is_cancelled">Cochez cette case si l'événement est annulé</label></p>
