<label for="vt_events_startdate_after">Date de début : </label>
<input type="text" id="vt_events_startdate_after" name="vt_events_startdate_after" value="{{ after }}" autocomplete="off" />

<label for="vt_events_startdate_before">Date de fin : </label>
<input type="text" id="vt_events_startdate_before" name="vt_events_startdate_before" value="{{ before }}" autocomplete="off" />